body{
    background-color: #fffafb;
}
.navbar{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid #ddd;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    padding: 0 20px;
    font-weight: 500;
    border: none;
    background-color: #fffafb;
}
.button:hover{
    background-color: #e3002c;
    color: #fff;
    cursor: pointer;
}
.labrus{
    color: #e3002c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 5rem;
    font-weight: 900;
}

.homeContainer {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  display: flex;
}

.home-menu{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}


.home-menu span{
    padding: 1rem 2rem;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.home-menu span:hover{
   background-color: #e3002c;
   color: #fff;
   cursor: pointer;
}
.main-menu{
    background-color: #e3002c;
    color: #fff;
}


